<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=.\TMDbLocalDatabase.db;Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TMDB-Api" value="896323678e3dfaa592ee1ed025f96371" />
  </appSettings>
</configuration>