@model SearchViewModel

<div class="container-fluid bound-container page-header">
    @Html.Partial(Model.Total > 0 ? "Results" : "NoResults", Model)
</div>

@section HeaderSub {
    <div class="row">
        <div class="col-md-12" id="search-criteria">
            @using (Html.BeginForm(FormMethod.Get, new { id = "search-criteria" }))
            {
                @Html.Partial("RememberQuery", Model.Form)
                @Html.Partial("RememberGenres", Model.Form)
                @Html.Partial("SearchCriteria", Model)
            }
        </div>
    </div>
}